Port 8000
RootPath /home/mrse/test
TimeOut 5

DirectoryListing Yes
DirectoryListingApplication 

FolderIndex index.html index.xhtml index.php index.cpp



#ExtentionDefine [Extention] [Content Type / SELF_HEADER] [Command ...]

ExtentionDefine html text/html cat <FILE>
ExtentionDefine xhtml text/html cat <FILE>
ExtentionDefine css text/css cat <FILE>

ExtentionDefine php SELF_HEADER php-cgi <FILE> <ARGS>
ExtentionDefine cpp text/html <FILE>
